[Unit]
Description=Emulation Frontend
Requires=pulse.service display-manager.service xboxdrv.service

[Service]
EnvironmentFile=/etc/environment
ExecStart=/home/arcade/.bin/launchFrontend
WorkingDirectory=/home/arcade
User=arcade
Group=arcade
Type=simple
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
