[Unit]
Description=Remote VNC Viewer
After=display-manager.service

[Service]
EnvironmentFile=/etc/environment
ExecStart=/bin/x11vnc -q -noxfixes -noxdamage -noxrecord -nodpms -nossl -forever -noxinerama -no6 -nolookup -noipv6 -rfbportv6 -1 -rfbauth /home/arcade/.config/x11vnc/passwd
WorkingDirectory=/home/arcade
User=arcade
Group=arcade
Type=simple
Restart=on-failure
KillMode=process

[Install]
WantedBy=multi-user.target
